* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: blue; */
    padding: 0 100px;
    width: 100%;
    height: 100%;
}

.main {
    /* background-color: red; */
    width: 100%;
}

nav {
    height: 50px;
    background-color: gray;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.menuitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

#login {
    background-color: blue;
    color: white;
    width: 75px;
    margin: 0 10px 10px 0;
}

.bothcolumn {
    /* background-color: green; */
    width: 100%;
    display: flex;
    gap: 15px;
}

.col1 {
    flex: 2;
    /* background-color: rgb(219, 220, 250); */
}

.entry {
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.word {
    padding: 10px;
    /* background-color: violet; */
    width: 150px;
    text-align: center;
}

.entry h3 {
    padding: 0 10px;
}

.italic,
span {
    font-style: italic;
}

.col2 {
    flex: 1;
    /* background-color: sandybrown; */
}

.dojonaryright {
    border: 2px solid black;
    padding: 15px;
    background-color: white;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 5px 0;
    box-shadow: 2px 2px black;
    border: 2px solid black;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
